@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

article h1{
  color: #000;
}

article h3{
  color: #222;
}

article h6{
  color: #555;
}

article h2 {
  color: #222;
}

/* Ana sayfa ve diğer sayfalar için genel h3 stili */
h3:not(article h3) {
  color: #222;
}

/* Ana sayfa ve diğer sayfalar için genel h2 stili */
h2:not(article h2) {
  color: #222;
}

article h4 {
  color: #222
}

h4:not(article h4) {
  color: #222
}

/* Google Translate dropdown'ını özelleştirmek için */
.goog-te-combo {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #e2e8f0;
  width: 100%;
  outline: none;
}

/* Gereksiz Google Translate elementlerini gizle */
.skiptranslate iframe {
  display: none;
}