@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

article h1{
  color: #000;
}

article h3{
  color: #222;
}

article h6{
  color: #555;
}

article h2 {
  color: #222;
}

/* Ana sayfa ve diğer sayfalar için genel h3 stili */
h3:not(article h3) {
  color: #222;
}

/* Ana sayfa ve diğer sayfalar için genel h2 stili */
h2:not(article h2) {
  color: #222;
}

article h4 {
  color: #222
}

h4:not(article h4) {
  color: #222
}